<!DOCTYPE html>
	<head>
			<title>Phone to Desktop control</title>
			<script src="/socket.io/socket.io.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
			<script src="/desktop.js"></script>
			<style>
			.content {
				width: 200px;
				margin: 0 auto;
			}
			</style>
	</head>
	<body>
		
		<h1>Desktop View</h1>
		
		<div id="content">
			<p>This will get replaced by the "url" for this client</p>
		</div>
		
		<div class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, blanditiis, incidunt molestiae iusto nihil quod odit adipisci mollitia necessitatibus enim facilis quae dolorum dolores porro error praesentium architecto rem dicta.</p>
		</div>
		
	</body>
</html>